<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/style1.css">

</head>

<body>
    
    <div class="login-container">

        <img src="../../static/img/logo-noxus.jpg" alt="imagem">

        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuário" required id="usuario">
            <input type="password" name="password" placeholder="Senha" required id="senha">
            <input type="submit" value="Entrar">
        </form>

        <a href="html/tela_cadastro.html">Cadastre-se</a>

    </div>
    <script src="../../static/js/java-s.js"></script>
</body>
</html>