* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgb(12, 12, 12), rgb(43, 41, 41));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  
  }
  /* Estilo da aba superior */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-bottom: 5px solid rgb(180, 8, 8);
  }
  /* Botão para menu retrátil */
.menu-button {
    background: none;
    border: none;
    color: rgb(248, 7, 7);
    font-size: 20px;
    cursor: pointer;
  }
  /* Estilo da foto e nome do usuário */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(248, 7, 7);
  }
.user-info span {
    font-size: 16px;
  }

.menu {
    display: none;
    background-color: rgba(32, 32, 32, 0.8);
    color: red;
    padding: 10px;
}
.menu a {
    display: flex;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: none;
    color: red;
}

.menu a:hover {
    text-decoration: underline;
}

.saldo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo leve */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #ff0000;

}

.operations {
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaço entre os ícones */
  padding: 20px;
  border-bottom: 1px solid rgb(180, 8, 8);
  border-top: 1px solid rgb(180, 8, 8);
}
.operation {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}
.operation:hover {
  transform: scale(1.1); /* Animação ao passar o mouse */
  background-color: #383737;
}
.operation-icon {
  padding: 5px;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: rgba(36, 35, 35, 0.8); /* Fundo do círculo */
  border: 2px solid #ff0000; /* Borda do círculo */
  border-radius: 50%; /* Torna o fundo circular */
}
.operation p {
  text-decoration: none;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #ff0000;
}
.operations a{
  text-decoration: none;
}

.Blocks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo leve */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombras suaves */
}
#card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #ff0000;
}
#credit-card-info h3 {
  margin: 0;
  font-size: 18px;
}
#redit-card-info span {
  font-size: 16px;
  color: #ff0000;
}
#credit-card-arrow {
  font-size: 24px;
  cursor: pointer;
  color: #ff0000;
  transition: transform 0.2s ease;
}
#credit-card-arrow:hover {
  transform: scale(1.2); /* Aumenta a seta ao passar o mouse */
}

.icon {
  font-size: 32px; /* Tamanho do ícone */
  color: #000000; /* Cor verde */
  margin-right: 10px;
}

.footer {
  border-top: 5px solid rgb(180, 8, 8);
  background-color: #000000;
  color: #ff0000;
  text-align: center;
  padding: 15px 0;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.icon-card{
    text-align: center;
    color: #ff0000;
    font-size: 200px;

}