<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
    <link rel="stylesheet" href="../../static/css/style_operacoes.css">
</head>
<body  class="body">
    <div class="container-operacoes">

        <img src="../../static/img/logo-noxus.jpg" alt="">
            
        <h2>{{usuario}}</h2>
        <h3>{{saldo}}</h3>

        <hr>

        <h3>Historico de depósitos</h3>

        <table>
            <tr>
                <th>Valor</th>
                <th>Data</th>
            </tr>
            % if depositos:
                % for deposito in depositos:
                    <tr>
                        <td>R$ {{ deposito[0] }}</td> <td>{{ deposito[1] }}</td>
                    </tr>
                % end
            % else:
                <tr>
                    <td colspan="2">Nenhum depósito encontrado.</td>
                </tr>
            % end
        </table>

        <hr>

        <h3>Historico de Transferencias</h3>

        <table>
            <tr>
                <th>Valor</th>
                <th>Data</th>
            </tr>
            % if transferencias:
                % for transferencias in transferencias:
                    <tr>
                        <td>R$ {{  transferencias[0] }}</td> <td>{{ transferencias[1] }}</td>
                    </tr>
                % end
            % else:
                <tr>
                    <td colspan="2">Nenhuma transferencia encontrado.</td>
                </tr>
            % end
        </table>

        <hr>

        <h3>Historico de Pagamentos</h3>
        <table>
            <tr>
                <th>Valor</th>
                <th>Data</th>
            </tr>
            % if pagamentos:
                % for pagamentos in pagamentos:
                    <tr>
                        <td>R$ {{  pagamentos[0] }}</td> <td>{{ pagamentos[1] }}</td>
                    </tr>
                % end
            % else:
                <tr>
                    <td colspan="2">Nenhum pagamento encontrado.</td>
                </tr>
            % end
        </table>

        <hr>

        <h2>Fatura do cartão</h2>
        <h3>{{fatura}}</h3>

        <a href="/usuario">Voltar</a>
    </div>
</body>
</html>