<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style_login.css?v={{t}}">
</head>

<body class="body">
    
    <div class="login-container">

        <img src="../../static/img/logo-noxus.jpg" alt="imagem">

        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <input type="submit" value="Entrar">
        </form>

        <a href="/cadastro">Cadastre-se</a>
    </div>
</body>
</html> 