<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href="../../static/css/style_usuario.css?v={{time}}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>

    <div class="top-bar">

        <div class="user-info">
          <img src="../../static/img/logo-noxus.jpg" alt="Foto do usuário">
          <span>{{usuario}}</span>
        </div>

        <button class="menu-button" onclick="toggleMenu()">☰</button>

    </div>
    <div class="menu" id="menu">
        <a href="/perfil">Meu perfil</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="saldo">

      <h1>R${{saldo}}</h1>

    </div>

    <div class="operations">
    <a href="/deposito">
      <div class="operation">
        <div>
          <i class="fas fa-money-bill-wave" style="color: black; font-size: 30px;"></i>
        </div>
        <p>Depósito</p>
      </div>
    </a>
      
    <a href="/extrato">
      <div class="operation">
        <div>
          <i class="fas fa-file-alt" style="color: black; font-size: 30px;" ></i>
        </div>
        <p>Extrato</p>
      </div>
    </a>

    <a href="/transferencia">
      <div class="operation">
        <div >
          <i class="fas fa-exchange-alt" style="color: black; font-size: 30px;"></i>
        </div>
        <p>Transferência</p>
      </div>
    </a>

    <a href="/pagamento">
      <div class="operation">
        <div>
          <i class="fas fa-file-invoice-dollar" style="color: black; font-size: 30px;"></i>
        </div>
        <p>Pagar</p>
      </div>
    </a>
    </div>

    <div class="Blocks" onclick="goToCard()">
      <div id="card-info">
        <h3>Cartão de Crédito</h3>
        <span>Fatura Atual: R$ {{fatura}}</span>
      </div>
  
      <div id="credit-card-arrow"> > </div>
    </div>

    <div class="Blocks" onclick="goToinvest()">
      <div id="card-info">
        <h2>Total em investimentos</h2>
        <h4> R$ {{investimentos}}</h4>
      </div>

      <div id="credit-card-arrow"> > </div>
    </div>

    <footer class="footer">
      <p>&copy; 2025 Meu Banco.</p>
        <p>Todos os direitos reservados.</p>
    </footer>
  <script src="../../static/js/usuario.js"></script>  
</body>
</html>